<div class="d-flex justify-content-center">
    <div class="card m-5">
        <div class="card-header">{{title}}</div>
        <div class="card-body">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onReset()" novalidate>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="registrationID">RegistrationID</span>
                    </div>
                    <input type="text" class="form-control" placeholder="registrationID" aria-label="registrationID" aria-describedby="registrationID" formControlName="registrationID" >
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="password">Password</span>
                    </div>
                    <input type="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="password" formControlName="password">
                </div>
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="confirmpassword">confirmpassword</span>
                    </div>
                    <input type="password" class="form-control" placeholder="confirmpassword" aria-label="confirmpassword" aria-describedby="confirmpassword" formControlName="confirmpassword">
                </div>

                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>